@use '@/styles/abstracts/colors';
@import '@/styles/abstracts/mixins';

.second {
  height: 533px;
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 131px;
  justify-content: center;
  margin-top: 65px;

  @include respond(xl) {
    height: auto;
    margin-top: 20.6rem;
    gap: 75px;
  }

  .leftSideContainer {
    width: 564px;
    height: 388px;
    border-radius: 32px;
    background: #e7f5fe;
    position: relative;
    padding: 48px;

    @include respond(xl) {
      width: 360px;
      height: 300px;
      padding: 0;
    }

    .imageWrapper {
      width: 468px;
      height: 533px;
      position: absolute;
      bottom: 0;

      @include respond(xl) {
        width: 360px;
        height: 411px;
        padding: 0;
      }
    }
  }

  .rightSideContainer {
    width: 465px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 31px;
    gap: 35px;

    @include respond(xl) {
      gap: 32px;
      width: 331px;
    }

    .bmiResultMeans {
      font-weight: 600;
      line-height: var(--heading-line-height);
      letter-spacing: -2.4px;
      font-size: var(--heading-large);

      @include respond(xl) {
        font-size: 32px;
      }
    }

    .bmiDesc {
      line-height: var(--body-line-height);
      font-size: var(--body-medium);
      color: colors.$darkElectricBlue;
    }
  }
}
