@use '@/styles/abstracts/colors';
@import '@/styles/abstracts/mixins';

.resultsContainer {
  width: 100%;
  height: 130px;
  padding: 32px;
  border-radius: 16px 999px 999px 16px;
  background: linear-gradient(90deg, colors.$blue 0%, #587dff 100%);
  color: colors.$pureWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(sm) {
    border-radius: 16px;
    height: 100%;
  }

  .heading {
    font-size: var(--heading-medium);
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .message {
    font-size: var(--body-small);
    line-height: var(--body-line-height);
  }

  .result {
    display: flex;

    .leftDesc {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .your {
        font-weight: 600;
        line-height: var(--body-line-height);
      }

      .bmiValue {
        font-size: var(--heading-extra-large);
        font-weight: 600;
        line-height: var(--heading-line-height);
        letter-spacing: -3.2px;

        @include respond(sm) {
          font-size: var(--heading-large);
        }
      }
    }

    .desc {
      width: 100%;
      line-height: var(--body-line-height);
      font-size: var(--body-small);
    }

    @include respond(sm) {
      flex-direction: column;
      gap: 24px;
    }
  }
}

.resultsWithBmi {
  height: 166px;

  @include respond(sm) {
    height: 100%;
  }
}
