@use '@/styles/abstracts/colors';

.resultsContainer {
  width: 100%;
  height: 130px;
  padding: 32px;
  border-radius: 16px 999px 999px 16px;
  background: linear-gradient(90deg, colors.$blue 0%, #587dff 100%);
  color: colors.$pureWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .heading {
    font-size: var(--heading-medium);
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .message {
    font-size: var(--body-small);
    line-height: var(--body-line-height);
  }
}
