@use '@/styles/abstracts/colors';
@import '@/styles/abstracts/mixins';

.thirdSection {
  display: flex;
  gap: 32px;
  width: 1392px;
  margin-top: 96px;
  padding: 72px 117px 96px 116px;
  border-radius: 35px;
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  margin-bottom: 120px;
  align-self: center;

  @include respond(xl) {
    flex-direction: column;
    width: 100%;
    padding: 60px 43px 60px 39px;
    gap: 40px;
    align-items: center;
  }

  .item {
    width: 365px;

    @include respond(xl) {
      display: flex;
      align-items: center;
      gap: 40px;
      width: 686px;
    }

    .iconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;

      @include respond(xl) {
        min-width: 64px;
      }
    }

    .rightContainer {
      .title {
        font-size: var(--heading-medium);
        font-weight: 600;
        letter-spacing: -1.2px;
        margin-bottom: 24px;
        margin-top: 45px;
      }

      .description {
        font-size: var(--body-medium);
        color: colors.$darkElectricBlue;
        line-height: var(--body-line-height);
      }
    }
  }
}
