:root {
  /* body sizes */
  --body-small: 14px;
  --body-medium: 16px;
  --body-line-height: 150%;

  /* heading sizes */
  --heading-small: 20px;
  --heading-medium: 24px;
  --heading-large: 48px;
  --heading-extra-large: 64px;
  --heading-line-height: 110%;
}
